@import url("https://fonts.googleapis.com/css2?family=Baloo2&family=Roboto:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Baloo 2", cursive;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 9rem;
    background-color: rgba(0, 0, 0, 0.9);
}

.weather_card {
    border: 2px solid;
    width: 900px;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    border-radius: 35px;
}

.column-1 {
    height: 100%;
    width: 45%;
    /*background: url(../Weather_Forcasting-2/icons/moon.png);*/
    background: rgb(31, 30, 30);
    background-size: cover;
    overflow: hidden;
    border-radius: 35px;
}

.weather_detail {
    padding: 27px;
    /*background: rgb(0 200 255 / 80%);*/
    background: url(../Weather_Forcasting-3.0/icons/moon.png);
    background-size: cover;
    background-position: right;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.day {
    font-size: 40px;
    color: black;
}

.date {
    font-size: 18px;
    color: black;
}

.location {
    font-size: 18px;
    color: black;
}

.state
{
    font-size: 18px;
    color: black;
}

.coun
{
    font-size: 18px;
    color: black;
}

.temperature {
    position: relative;
}

.temperature img {
    margin: 10px;
    width: 65%;
    height: 65%;
}

.temperature h1 {
    font-size: 67px;
    color: black;
}

.temperature span {
    position: absolute;
    font-size: 30px;
    bottom: -18px;
    font-weight: bold;
    color: black;
}
.temperature p
{
    position: absolute;
    font-size: 35px;
    bottom: -18px;
    font-weight: bold;
    color: black;
}

.column-2 {
    padding: 35px;
    width: 60%;
    height: 100%;
    /*background-color: rgba(56, 52, 52, 0.757);*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 35px;
}

.column-2 input {
    width: 18rem;
    height: 2.5rem;
    overflow: hidden;
    font-size: 20px;
    margin: 8px;
    padding: 8px;
    border-bottom: 3px solid #ff6768;
    color: white;
    outline: none;
    background: none;
    margin-left: 30px;
}

input {
    border: none;
}

.column-2 button {
    color: white;
    width: 5rem;
    height: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background: teal;
    border-radius: 5px;
    margin-left: 1px;
    padding: 11px;
    border: black;
    display: inline-block;
    transition: all 0.3s ease 0s;
}

.column-2 button:focus {
    background-color: white;
    color: black;
}

.column-2 h4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
}

.forecast {
    background: rgb(43 43 43 / 50%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 470px;
    margin: 10px;
    border-radius: 25px;
}

.forecast button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    outline: none;
}

.forecast button:focus {
    background-color: white;
    color: black;
}

.forecast button span {
    font-size: 13px;
}

.forecast button h1 {
    font-size: 18px;
}

.forecast button img
{
    width: 50%;
    height: 25%;
}